<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
	<hr />
	<div class="footer-link">
		{% if site.social.twitter %}
		<a href="https://twitter.com/{{ site.social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.social.github %}
		<a href="https://github.com/{{ site.social.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.social.linkedin %}
		<a href="https://www.linkedin.com/in/{{ site.social.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.social.email %}
		<a href="mailto:{{ site.social.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		{% endif %}

	</div>

	{% include tinyletter.html %}

    {% include cc.html %}

    {% include ga.html %}

</div>
