---
layout: default
---
<header>
  <h1 class="header-small">
    <i class="fa fa-home" aria-hidden="true"></i> <a href="{{site.url}}{{site.baseurl}}">{{ site.title }}</a>
  </h1>
</header>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-description">{{ page.description }}</h3>
  <div class="post-date">
    By {% if page.author %}{{page.author}}{% else %}{{ site.author }}{% endif %},
    <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>.
    {% include reading-time.html %}
    {% if page.location %}{{ page.location }}.{% endif %}
    {% if page.weather %}{{ page.weather }}.{% endif %}
  </div>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
          <span class="term">{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  {% capture page_year %}{{ page.date | date: "%Y" }}{% endcapture %}
  {% assign page_year = page_year | plus: 0 %}
  {% if page_year < 2012 %}
    {% include warning_old_post.html %}
  {% endif %}

  {{ content }}

  {% include post-navigation.html %}

</div>
